* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    box-sizing: border-box;
}

header {
    display: flex;
    padding: 2em 0;
    background-color: rgba(0,0,0,0.5);
    justify-content: space-between;
    position: fixed;
    top: 0;
}

.firstMenu {
    display: flex;
    align-items: center;
    justify-content: center;
}

svg {
    width: 1.1em;
    height: 1.1em;
    margin: 0 20px 0 20px;
}

svg:hover path:first-child {
    fill: orangered;    
}

.secondMenu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.secondMenu>a {
    color: white;
    text-decoration: none;
    margin: 0 20px 0 20px;
    font-size: 12px;
}

.secondMenu>a:visited {
    color: white;
}

.secondMenu>a:hover {
    color: orangered;
}

#inputSearch {
    background: transparent;
    border: none;
    border-bottom: 1px dotted #8c8c8c;
    font-size: 1em;
    color: white;
}

#inputCheck, #inputSearch {
    display: none;
}

#inputCheck:checked~#inputSearch {
    display: block;
}